* {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #D6DEE7;
	/*background: linear-gradient(90deg, #004e92, #000428);*/
	background-color: #FFF;

}

.form {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}
input, button {
	padding: 15px;
	font-size: 23px;
	width: 100%;
	color: white;
	border: 2px solid black;
	font-weight: bold;
	cursor: pointer;
	border-radius: 15px;
}

#name {
	width: 300px;
}
#submit {
	width: 70px;
}

.container {
	max-width: 1080px;
	margin: auto;
	margin-top: 5px;	
	padding-left: 25px;
	padding-right: 25px;
	padding: 40px; 

}

h2 {
	text-align: center;
}
#prototypeID {
	font-size: 20px;
	text-align: center;
	color: red;
}

.row {
	margin-top: 30px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	min-width: 324px;
	margin-bottom: 30px;font-family: 'Open Sans', sans-serif;
	padding: 0;
	text-align: center;
	/*background-color: blue;*/
}

.gauge {
	position: relative;
	border-radius: 50%/100% 100% 0 0;
	background-color: var(--color, #a22);
	overflow: hidden;
}

.gauge:before{
	content: "";
	display: block;
	padding-top: 50%; /* ratio of 2:1*/
}
.gauge .chart {
	overflow: hidden;
}
.gauge .mask {
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 0;
	top: 40%;
	background-color: #fff;
	border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
	position:absolute;
	top: -1px;
	left: -1px;
	bottom: 0;
	right: -1px;
	background-color: var(--background, #DBDDDE);
	transform:rotate(var(--rotation)); 
	transform-origin: bottom center; 
	transition-duration: 600;
}
.gauge:hover {
	--rotation: 100deg;
}
.gauge .value {
	position:absolute; bottom:0%; left:0; 
	width:100%; 
	text-align: center;
}

.gauge .min {
	position:absolute; 
	bottom:0; left:5%; 
}

.gauge .max {
	position:absolute; 
	bottom:0; right:5%; 
}
/*
@media only screen and (max-width: 1000px){
	.row {
		text-align: center;
	}

	.col-3 {
		flex-basis: 100%;
		max-width: 600px;
		min-width: 100px;
	}
}
*/